img {
  padding: 0px;
  cursor: pointer;
}

.dropstart {
  max-width: fit-content;
}

h3 {
  visibility: visible;
  margin-top: 10px;
}

.card-image {
  max-height: 100px;
}

.form-check {
  padding-left: 15%;
}

@media (max-width: 768px) {
  h3 {
    visibility: hidden;
    font-size: 0;
  }
}
