body {
  margin-top: 60px;
  margin-bottom: 60px;
}

img {
  padding: 0px;
  cursor: pointer;
}

.dropstart {
  max-width: fit-content;
}

.sticky-filter {
  position: sticky;
  top: 70px;
  z-index: 1;
}

.filter-button {
  background-color: rgb(227, 227, 227, 0.5);
  border-radius: 50%;
}

h3 {
  visibility: visible;
  margin-top: 10px;
}

.card-image {
  max-height: 100px;
}

.form-check {
  padding-left: 15%;
}

#bottom-nav  {
  visibility: hidden;
}
#responsive-sidebar  {
  display: block;
}

@media (max-width: 991px) {
  /* h3 {
    visibility: hidden;
    font-size: 0;
  } */
  
  #bottom-nav  {
  visibility: visible;
}
  #responsive-sidebar {
    display: none;
  }
}


.site-filter-dropdown {
    max-height: 50vh;
    overflow-y: auto;
    min-width: 280px;
    padding: 1rem;
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.15);
    border-radius: 12px;
}

.site-filter-dropdown::-webkit-scrollbar {
    width: 6px;
}
.site-filter-dropdown::-webkit-scrollbar-thumb {
    background-color: #819A91;
    border-radius: 10px;
}

.sticky-filter {
    position: fixed;
    top: 90px;
    right: 20px;
    z-index: 1020; 
}